@charset "UTF-8" ;
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
*{
 	font-family: 'East Sea Dokdo', cursive, font-size=Large;

}
.bg-beige{
	background-color: beige;
}
.ch13-border{
	border: 1px solid #3C992D;
}
.mycenter{
	text-align: center;
}
.myright{
	text-align: right;
}
.myLineHeightCenter{
	line-height: center;
}

